<div class="toolbar" role="banner">
    <img
      width="40"
      src="../assets/images/njcLogo.png"
    />
    <div style="height: 60px;">
      <h3 style="width: 50px;margin-top: 0px;height: 2px;">TRAVEL</h3>
      <h6 style="font-size: 14px; display: inline;">Weather</h6>
      <h6 style="height: 10px;width: 200px;font-size: 14px; margin-top: 1px;">Covid</h6>
    </div> 
    
  
    <img
        style="position: absolute;width: 250px;right:0;height: 69px;margin-right: 0px;"
        src="../assets/images/hackathon.png"
    />
  </div>