<div class="trainBody"> 
  <h3 style="color: black;margin-left: 457px;margin-top: 10px;">SEARCH TRAINS</h3>
  
  <table style="margin-top: 20px;">
    <tr> 
      <td style="width:35%">
        <span style="margin-left: 0px;">Origin</span> 
        <select #origin style="width: 65%;"> 
          <option *ngFor="let location of locations" value={{location.name}}>
            {{location.name}}
          </option>
        </select>
      </td>
      <td style="width:35%">
        <span style="margin-left: 0px;">Destination</span> 
        <select #destination>
          <option *ngFor="let location of locations" value={{location.name}}>
              {{location.name}}
          </option>
        </select>
      </td>
      <td style="width:25%">
        <span style="margin-left: 0px;">Travel Date</span> 
        <input #travelDate type='date' title="Enter the travel date"/>
      </td> 
      <td>
        <button style="margin-left: 0px;font-size: 18px;background: darkgray;" [disabled]="loading" (click)="fetchTravelData(origin,destination,travelDate)">Search</button>
      </td>   
    </tr>
  </table>
  <div class="spinner" [ngClass]="{ hidden: loading }"></div>
  <hr style="color: black;">
  <h4 *ngIf="!showWeatherAndCovidData" style="color:#f50f0f;margin-left: 400px;">Once trains are searched, data will be displayed.....</h4>
<div *ngIf="showWeatherAndCovidData">
  <h6 style="color: black;display:inline">London Weather(in Celcius): 10</h6>
  <h6 style="color: #cc1616;margin-left: 400px;display:inline">London Active Covid cases: 5</h6>
  <hr style="color: black;margin-top: 0px;margin-bottom: 0px;"> 
  <input type="button" (click)=subscribeTrain() value={{subscribeTrainText}} 
             style="margin-left: 991px;font-size: 18px;background: darkgray;display: inline;margin-top: 5px;margin-bottom: 5px;" [disabled] = "toggle">
      
     <table style='color: black;' id="trainTable"> 
        <thead>
            <tr>
              <th>Select</th>
              <th>Train No.</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Estimatated Arrival Time</th>
              <th>Estimated Departure Time</th>
              <th>Total duration</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trainData">
            <td>
              <input type="checkbox" [(ngModel)] = "data.selected" >
            </td>
            <td>{{ data.trainNumber }}</td>
            <td>{{ data.origin }}</td>
            <td>{{ data.destination }}</td>
            <td>{{ data.eta }}</td>
            <td>{{ data.etd }}</td>
            <td>{{ data.duration }}</td>
          </tr>
        </tbody>
      </table>
      
</div>


</div>

<div class="covidData">
  <h1 style="margin-left: 63px;color: #3f486b;height: 12px;margin-top: 6px;font-weight: 100;font-size: 25px;">COVID UPDATE</h1>
  <div style="align-content: center;margin-top: 25px;overflow-y: auto;bottom: 0%;height: 700px;"> 
    <style>
      .tableFixHead {
        overflow-y: auto;
        height: 700px;
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      </style>
      <div class="tableFixHead">
      <table id="covidTable"> 
      <thead>
          <tr>
            <th>Location</th>
            <th>Active Cases</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of covidData">
          <td>{{ data.location }}</td>
          <td>{{ data.activeCases }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>