<style>
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .body {
    position: absolute;
    margin-top: 52px;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #aeceee;
    color: white;
    font-weight: 600;
  }

  .body input {
    margin-left:10px
  }

  .body span {
    margin-left:100px
  }

  .body button {
    margin-left:50px;
    width: 150px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    src="../assets/images/njcLogo.png"
  />
  <span>Travel App</span>
</div>
<div class="body"> 
  <span>Enter origin</span> 
  <input #origin title="Enter the origin"/>

  <span>Enter destination</span> 
  <input #destination title="Enter the destination"/>

  <span>Travel Date</span> 
  <input #travelDate title="Enter the travel date"/>

  <button (click)="fetchTravelData(origin,destination,travelDate)">Search</button>
</div>