<style>
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .trainBody {
    position: absolute;
    top: 76px;
    left: 0;
    right: 20%;
    bottom:0%;
    background-color: #f9f9fb;
    color: white;
    font-weight: 600;
  }

  .trainBody input {
    margin-left:10px;
  }

  .trainBody select {
    margin-left:10px;
    width: 200px
  }

  .trainBody span {
    margin-left:100px;
    color:#080808
  }

  .trainBody button {
    margin-left:50px;
    width: 150px;
  }

  .covidData {
    position: absolute;
    top: 76px;
    left: 80%;
    right: 0;
    bottom:0%;
    align-items: center;
    background-color: #d4dcf3;
  }

  #covidTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#covidTable td, #covidTable th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: small;
}

#covidTable tr:nth-child(even){background-color: #f2f2f2;}

#covidTable tr:hover {background-color: #ddd;}

#covidTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e03417;
  color: white;
}

#trainTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#trainTable td, #trainTable th {
  border: 1px solid #ddd;
  padding: 2px;
}

#trainTable tr:nth-child(even){background-color: #f2f2f2;}

#trainTable tr:hover {background-color: #ddd;}

#trainTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #5684bd;
  color: white;
}

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    src="../assets/images/njcLogo.png"
  />
  <div style="height: 60px;">
    <h3 style="width: 50px;margin-top: 0px;height: 2px;">TRAVEL</h3>
    <h6 style="font-size: 14px; display: inline;">Weather</h6>
    <h6 style="height: 10px;width: 200px;font-size: 14px; margin-top: 1px;">Covid</h6>
  </div> 
  

  <img
      style="position: absolute;width: 250px;right:0;height: 69px;margin-right: 0px;"
      src="../assets/images/hackathon.png"
  />
</div>

<div class="trainBody"> 
    <h1 style="color: black;margin-left: 457px;left: 40%;font-weight: 500;color: #32323e;">SEARCH TRAINS</h1>
    <table >
      <tr> 
        <td style="width:35%">
          <span style="margin-left: 0px;">Origin</span> 
          <select #origin>
            <option *ngFor="let location of locations" value={{location.name}}>
              {{location.name}}
            </option>
          </select>
        </td>
        <td style="width:40%">
          <span style="margin-left: 0px;">Destination</span> 
          <select #destination>
            <option *ngFor="let location of locations" value={{location.name}}>
                {{location.name}}
            </option>
          </select>
        </td>
        <td style="width:25%">
          <span style="margin-left: 0px;">Travel Date</span> 
          <input #travelDate type='date' title="Enter the travel date"/>
        </td> 
        <td>
          <button style="margin-left: 0px;font-size: 18px;background: darkgray;"  (click)="fetchTravelData(origin,destination,travelDate)">Search</button>
        </td>   
      </tr>
    </table>
    <div>
      <hr style="height:10px;color: black;">
      <table style='color: black;' id="trainTable"> 
        <thead>
            <tr>
              <th>Train No.</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Estimatated Arrival Time</th>
              <th>Estimated Departure Time</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of trainData">
            <td>{{ data.trainNumber }}</td>
            <td>{{ data.origin }}</td>
            <td>{{ data.destination }}</td>
            <td>{{ data.eta }}</td>
            <td>{{ data.etd }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>

<div class="covidData">
    <h1 style="margin-left: 63px;color: #3f486b;height: 12px;margin-top: 6px;font-weight: 100;font-size: 25px;">COVID UPDATE</h1>
    <div style="align-content: center;margin-top: 25px;overflow-y: auto;bottom: 0%;height: 700px;"> 
      <table id="covidTable"> 
        <thead>
            <tr>
              <th>Location</th>
              <th>Active Cases</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of covidData">
            <td>{{ data.location }}</td>
            <td>{{ data.activeCases }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>